@model NBSTicketing.Models.DataModels.Report

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportTypeId" class="control-label"></label>
                <select asp-for="ReportTypeId" class ="form-control" asp-items="ViewBag.ReportTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReportStatusId" class="control-label"></label>
                <select asp-for="ReportStatusId" class ="form-control" asp-items="ViewBag.ReportStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReportName" class="control-label"></label>
                <input asp-for="ReportName" class="form-control" />
                <span asp-validation-for="ReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDescription" class="control-label"></label>
                <input asp-for="ReportDescription" class="form-control" />
                <span asp-validation-for="ReportDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

