
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<h2>Companies, People and Sites Management !</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Add, Edit, List, Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CompanyTypes" asp-action="Index">Add, Edit, List, Company Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Add, Edit, List People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Add, Edit, List Person Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sites" asp-action="Index">Add, Edit, List Sites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteTypes" asp-action="Index">Add, Edit, List Site Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListCompanies">List All Companies</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListPeople">List All People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListSites">List All Sites</a>
    </li>
</ul>

<h2>Tickets, Orders and Reports Management !</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Add, Edit, List, Tickets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TicketTypes" asp-action="Index">Add, Edit, List, Ticket Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TicketStatus" asp-action="Index">Add, Edit, List Tciket Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Add, Edit, List Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="OrderTypes" asp-action="Index">Add, Edit, List Order Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="OrderStatus" asp-action="Index">Add, Edit, List Order Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListCompanies">List All Companies</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListPeople">List All People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Lists" asp-action="ListSites">List All Sites</a>
    </li>
</ul>