
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Add, Edit, List, Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CompanyTypes" asp-action="Index">Add, Edit, List, Company Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="Index">Add, Edit, List People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Add, Edit, List Person Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Sites" asp-action="Index">Add, Edit, List Sites</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SiteTypes" asp-action="Index">Add, Edit, List Site Types</a>
    </li>
</ul>